  
  .elements {
    align-content: center;
    width: 150px;
    padding: 20px;
    float: left;
    margin-left: 30px;
    background-color: #F6EEE0;
    margin-top: 10px;
    display: block;
  }
  
  .items {
    background-color: #597bab;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    color: #ffffff;
  }
  
  .screens {
    width: 350px;
    height: 550px;
    background-color: #858999;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    float: right;
    margin-right: 50px;
    border: 1px solid black;
  }

.prompt {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.promptContent {
  background-color: #FFFFFF;
  margin: auto;
  padding: 20px;
  overflow: auto;
  border: 1px solid #888;
  width: 30%;
  height: 90%;
}


.submitButton {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #597bab;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 270px;
}

#dropImage {
  width: 400px;
  height: 150px;
  margin-left: 150px;
  margin-top: 150px;
  float: left;
}

#elementsHeading {
  margin-left: 10px;
  width: 300px;
  display: block;
  float: left;
}

#screenHeading {
  margin-left: 800px;
  width: 300px;
  float: left;
  display: block;
}
